<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>

    <main>
        <div class="container mt-4">
            <h1>Spread a new Virus!</h1>
            <form th:action="@{/viruses/add}" th:method="post" th:object="${bindingModel}">

                <div class="form-group">
                    <label for="inputVirusName">Name</label>
                    <input type="text" th:field="*{name}" class="form-control" id="inputVirusName">
                    <small id="nameHelp" th:classappend="${#fields.hasErrors('name')}? 'text-danger'" th:each="error: ${#fields.errors('name')}" th:text="${error}"></small>
                </div>

                <div class="form-group">
                    <label for="inputVirusDescription" >Description</label>
                    <textarea class="form-control" id="inputVirusDescription" rows="3" th:field="*{description}"></textarea>
                    <small id="descriptionHelp" th:classappend="${#fields.hasErrors('description')}? 'text-danger'" th:each="error: ${#fields.errors('description')}" th:text="${error}"></small>
                </div>

                <div class="form-group">
                    <label for="inputVirusSideEffects">Side Effects</label>
                    <input type="text" class="form-control" id="inputVirusSideEffects" th:field="*{sideEffects}">
                    <small id="sideEffectsHelp" th:classappend="${#fields.hasErrors('sideEffects')}? 'text-danger'" th:each="error: ${#fields.errors('sideEffects')}" th:text="${error}"></small>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Creator</label>
                    <select class="form-control" id="exampleFormControlSelect1" th:field="*{creator}">
                        <option th:each="creator : ${T(org.softuni.residentevil.web.domain.entities.Creator).values()}"
                        th:value="${creator}"
                        th:text="${creator}">
                        </option>
                    </select>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inputVirusDeadly" th:field="*{deadly}">
                    <label class="form-check-label" for="inputVirusDeadly">
                        Is Deadly?
                    </label>
                </div>

                <div class="form-check mb-4">
                    <input class="form-check-input" type="checkbox" value="" id="inputVirusCurable" th:field="*{curable}">
                    <label class="form-check-label" for="inputVirusCurable">
                        Is Curable?
                    </label>
                </div>

                <th:block th:each="mutation : ${T(org.softuni.residentevil.web.domain.entities.Mutation).values()}">
                    <div class="form-check" th:classappend="${#fields.hasErrors('mutation')}? 'text-danger'">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="inputMutation" th:value="${mutation}" th:field="*{mutation}">
                        <label class="form-check-label" for="inputMutation" th:text="${mutation}"></label>
                    </div>
                </th:block>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="inputVirusSaveHumanity" value="option3" disabled>
                    <label class="form-check-label" for="inputVirusSaveHumanity">
                        Save Humanity
                    </label>
                </div>

                <small id="mutationHelp" th:classappend="${#fields.hasErrors('mutation')}? 'text-danger'" th:each="error: ${#fields.errors('mutation')}" th:text="${error}"></small>

                <div class="form-group mt-4">
                    <label for="inputVirusTurnoverRate">Turnover Rate</label>
                    <input type="number" class="form-control" id="inputVirusTurnoverRate" th:field="*{turnoverRate}">
                    <small id="turnoverRateHelp" th:classappend="${#fields.hasErrors('turnoverRate')}? 'text-danger'" th:each="error: ${#fields.errors('turnoverRate')}" th:text="${error}"></small>
                </div>

                <div class="form-group">
                    <label for="inputVirusHoursUntilTurn">Hours Until Turn</label>
                    <input type="number" class="form-control" id="inputVirusHoursUntilTurn" th:field="*{hoursUntilTurn}">
                    <small id="hoursUntilTurnHelp" th:classappend="${#fields.hasErrors('hoursUntilTurn')}? 'text-danger'" th:each="error: ${#fields.errors('hoursUntilTurn')}" th:text="${error}"></small>
                </div>

                <div class="form-group">
                    <label for="inputVirusMagnitude">Magnitude</label>
                    <div>

                    </div>
                    <select class="form-control" id="inputVirusMagnitude" th:field="*{magnitude}">
                        <option th:each="magnitude : ${T(org.softuni.residentevil.web.domain.entities.Magnitude).values()}"
                                th:value="${magnitude}"
                                th:text="${magnitude}">
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="inputVirusReleaseDate">Release Date</label>
                    <input type="date" class="form-control" id="inputVirusReleaseDate" th:field="*{releasedOn}">
                    <small id="capitalsHelp" th:classappend="${#fields.hasErrors('releasedOn')}? 'text-danger'" th:each="error: ${#fields.errors('releasedOn')}" th:text="${error}"></small>
                </div>

                <div class="form-group">
                    <label for="inputVirusAffectedCapitals">Affected Capitals</label>
                    <select multiple class="form-control" id="inputVirusAffectedCapitals" th:field="*{capitals}">
                        <option th:each="capital : ${capitals}" th:value="${capital.id}" th:text="${capital.name}"></option>
                    </select>
                    <small id="capitalsHelp" th:classappend="${#fields.hasErrors('capitals')}? 'text-danger'" th:each="error: ${#fields.errors('capitals')}" th:text="${error}"></small>
                </div>

                <button class="btn re-background mb-4">
                    Spread!
                </button>

            </form>
        </div>
    </main>
</div>
</body>
</html>